
$kyc-normal-blue: #3A4BE9;
$kyc-dark-blue: #181F60;
$kyc-dark-purple: #21114A;
$kyc-green: #03F682;

$border: rgba($kyc-dark-blue, 0.05);
$border: #F3F3FB;
$padding: 2rem;
$border-radius-full: 999rem;
$border-radius-light: 5px;

$button-height: 3rem;

$grid-col-width: 4.166666666666667%; /* 100 / 22 */
$full-hd-col-width: 4.545454545454545%; /* 100 / 22 */
$normal-col-width: 5%; /* 100 / 20 */
$narrow-col-width: 5.555555555555556%; /* 100 / 18 */
$table-column-width: 12.5%; /* 100 / 8 */
$mobile-column-width: 25%; /* 100 / 4 */
$small-mobile-column-width: 50%; /* 100 / 2 */

$unit: 4.166666666666667vw;