$sm:      "only screen and (min-width: 0) and (max-width: 576px)";
$md:      "only screen and (min-width: 577px) and (max-width: 768px)";
$lg:      "only screen and (min-width: 769px) and (max-width: 992px)";
$xl:      "only screen and (min-width: 993px) and (max-width: 1200px)";
$xxl:     "only screen and (min-width: 1201px)";

$smobile:   "only screen and (min-width: 0) and (max-width: 350px)";
$mobile:    "only screen and (min-width: 351px) and (max-width: 720px)";
$tablet:    "only screen and (min-width: 721px) and (max-width: 1024px)";
$desktop:   "only screen and (min-width: 1025px) and (max-width: 1216px)";
$widescreen:"only screen and (min-width: 1217px) and (max-width: 1600px)";
$fullhd:    "only screen and (min-width: 1601px)";