$z-index: (
        utils_lvl-0 : 0,
        utils_lvl-1 : 10,
        utils_lvl-2 : 100,
        utils_lvl-3 : 150,
        utils_lvl-4 : 200,
        utils_lvl-5 : 1000,
        
        integration_integration-wizard : 1000,
        integration_nav-wizard-menu : 10,
        integration_int-wizard-projects-menu : 120,
        integration_int-wizard-context-menu : 130,
        integration_int-body : 0,
        
        logics_listing-button : 100,
        logics_advanced-search-button : 120,
        
        panels_right-panel-wrapper : 120,
        panels_side-panel : 200,
        
        tags_pick-color : 10,
        tags_color-options : 100,
        
        side-panel_advanced-search : 130,
        side-panel_search : 100,
        side-panel_channels-splash-screen : 100,
        side-panel_structure-tree-panel : 200,
        
        tooltip_tooltip : 10000,
        tooltip_tooltip-arrow : 1,
        
        datepicker_date-picker : 10,
        
        listing_new-tag-context-panel : 100,
        
        menu_search-menu : 110,
        menu_search-options : 10,
        menu_top-menu : 100,
        menu_listing-button : 10,
        
        chart_tooltip : 1,
        
        buttons_date-picker : 10,
        
        modals_modal : 10000,
        modals_content-wrapper : 1,
        
        context-menu_i : 1000,
        context-menu_div : 100,
        
        simpledropdown_options : 100,
        
        database_event-timeframe : 10,
        database_event-graph-slider : 200,
        database_header : 200,


        top: 500,
        modal: 150,
        absolute: 100,
        alerts: 15,
        side-panels: 10,
        body: 5,
        background: 1,
        bottom: -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}