


.kyc-button{
  height: $button-height;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  outline: none;
  border: 1px solid transparent;
  border-radius: $border-radius-light;
  @extend .tr2;

  span{
    font-family: avantgardeBook;
    font-weight: 400;
    font-size: 18px;
    margin-left: 0;
    @extend .tr2;
  }

  i{
    @include rotate(0);
    @extend .tr2;
  }

  &:hover{

    span{
      margin-left: 1rem;
    }

    i{
      @include rotate(-45deg);
      @extend .tr2;
    }
  }

  &.full-with{
    display: flex;
  }

  /*
  &.blue{

    span, .material-icons{
      color: white;
    }

    &:active{
      box-shadow: 0 0 10px rgba($kyc-normal-blue, 0.5);
    }
  }
   */

  &.white{
    background: white;
    box-shadow: 0 0 0 0 rgba(white, 0);
    @extend .interactive;

    span, .material-icons{
      color: $kyc-dark-purple;
    }

    &:hover{
      background: $kyc-normal-blue;
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.3);

      span, .material-icons{
        color: white;
      }
    }


    &:focus{
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.5);
    }

    &:active{
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.7);
    }

    &:focus-visible{
      outline: none;
      border: none;
    }
  }

  &.blue{
    background: $kyc-normal-blue;
    box-shadow: 0 0 0 0 rgba(white, 0);
    @extend .interactive;

    span, .material-icons{
      color: white;
    }


    &:hover{
      background: $kyc-normal-blue;
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.3);

      span, .material-icons{
        color: white;
      }
    }


    &:focus{
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.5);
    }

    &:active{
      box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.7);
    }

    &:focus-visible{
      outline: none;
      border: none;
    }
  }


  &.dark{
    background: $kyc-dark-blue;
    box-shadow: 0 0 0 0 rgba(white, 0);
    @extend .interactive;

    span, .material-icons{
      color: white;
    }


    &:hover{
      background: white;
      box-shadow: 0 0 0 10px rgba(white, 0.3);

      span, .material-icons{
        color: $kyc-normal-blue;
      }
    }


    &:focus{
      box-shadow: 0 0 0 10px rgba($kyc-dark-blue, 0.5);
    }

    &:active{
      box-shadow: 0 0 0 10px rgba($kyc-dark-blue, 0.7);
    }

    &:focus-visible{
      outline: none;
      border: none;
    }
  }
}


.link-btn{
  box-sizing: border-box;
  padding: 0;
  @include tr(0.2s);

  &:after{
    height: 2px;
    width: 100%;
    background-color: $kyc-normal-blue;
    content: '';
    display: block;
  }

  &:hover{
    background: $kyc-normal-blue;
    color: $kyc-normal-blue;
  }

  &:visited{

  }
}



