
footer{

  background: $kyc-dark-purple;
  padding: 1rem 0;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        flex-flow: column;

        .footer-menu{
          margin-top: 1rem;
        }
      }
    }

  .logo{

    svg{
      height: 3rem;
      width: auto;
      @extend .tr2;

      path{
        fill: $kyc-normal-blue;
        @extend .tr2;
      }

      &:hover{

        path{
          fill: white;
        }
      }
    }
  }

  .footer-menu{

    ul{
      display: flex;
      align-items: center;

      li{
        margin-left: 2rem;

        a{
          font-family: 'AvantgardeBook';
          font-weight: 400;
          color: white;
          @extend .tr2;

          &:hover{
            color: $kyc-normal-blue;
          }
        }
      }
    }
  }
}
