

#hero{
  background-image: url("../img/kycd-pearl-background.jpg");
  background-size: cover;
  @extend .tr2;

  @media #{$smobile}, #{$mobile}{
    padding-top: 3rem;
  }
  @media #{$tablet}, #{$desktop}, #{$widescreen}, #{$fullhd}{
    padding-top: 5rem;
  }

  @media #{$tablet}, #{$desktop}, #{$widescreen}, #{$fullhd}{

    h1, h2{
      grid-column: 1 / 24;
    }
  }


  &.large{

    .hero-content-wrapper{

      @media #{$mobile}, #{$tablet} {
        padding: 6rem 0 6rem 0;
      }

      @media #{$desktop}{
        padding: 14vh 0 10vh 0;
      }

      @media #{$widescreen}, #{$fullhd} {
        padding: 28vh 0 18vh 0;
      }
    }
  }

  &.small{

    .hero-content-wrapper{
      padding-top: 10vh;
      padding-bottom: 10vh;
    }
  }

  &.home{

    .hero-content-wrapper{


    }
  }
}
