

.steps-paginator{

  ul{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background: rgb(65 47 109 / 28%);
    border-radius: $border-radius-light;

    li{
      padding: 0.5rem;
      height: 42px;
      width: 42px;
      margin-right: 1rem;
      background: transparent;
      border-radius: 999rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      @extend .tr2;

      @media #{$smobile}, #{$mobile} {
        width: auto;
      }
    }

    li:last-child{
      margin-right: 0;
    }

    li:hover{
      background: $kyc-normal-blue;
    }

    li.selected{
      background: $kyc-normal-blue;
    }
  }
}
