

$daker-green: #25b972;

.step{
  /* Width implemented on any usecases - slider and status indicator */
  display: flex;
  flex: none;
  flex-flow: column;

  box-sizing: content-box;
  margin-left: 1px;
  position: relative;
  //white-space: nowrap;

  .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 480px;
    padding: $padding;
    //padding: 4rem 4rem 0rem 4rem;

    h3 {
      @media #{$sm}     {font-size: 18px;}
      @media #{$md}     {font-size: 20px;}
      @media #{$lg}     {font-size: 20px;}
      @media #{$xl}     {font-size: 22px;}
      @media #{$xxl}    {font-size: 24px;}
    }
  }

  .button{
    border-top: 1px solid $border;
    height: 5rem;
    width: 100%;
    padding: 0rem $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    @extend .tr2;

    span{
      font-family: 'AvantgardeBook';
    }
  }

  .tooltip{
    margin-top: 1rem;
    position: relative;
    background: $kyc-normal-blue;
    padding: 2rem;

    &:after{
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: -6px;
      left: 12px;
      background: $kyc-normal-blue;
      @include rotate(45deg);
    }

    h4{
      margin-bottom: 1rem;
    }

    h4, p{
      color: white;
    }
  }

  /* Components special styleing here */

  .kyc-input{
    border: 2px solid $kyc-normal-blue;
  }

  .options-list{

    li{
      border-radius: $border-radius-light;
    }
  }

  .kyc-input{
    border-radius: $border-radius-light;
  }

  #the-disclaimer{
    padding-top: 1rem;
    overflow: hidden;
  }

  &.start{

    h2, h3, span, i{
      color: white;
    }

    .wrapper{
      background: rgba(white, 0.1);
      -webkit-backdrop-filter: blur(145px);
      backdrop-filter: blur(145px);
    }

    .button{
      border-top: 1px solid rgba(white, 0.2);
      background: rgba(white, 0.1);
      -webkit-backdrop-filter: blur(145px);
      backdrop-filter: blur(145px);
    }
  }

  /* Step Card Status casses */

  &.now{

    .wrapper{
      background: white;
    }

    .button{
      background: white;

      span, i{
        color: $kyc-normal-blue;
      }

      &:hover{
        background: $kyc-normal-blue;
        border-top: 1px solid $kyc-normal-blue;
        outline: 1px solid $kyc-normal-blue;
        box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.3);

        span, i{
          color: white;
        }
      }

      &:focus{
        box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.5);
      }

      &:active{
        box-shadow: 0 0 0 10px rgba($kyc-normal-blue, 0.7);
      }
    }
  }

  &.inactive{

    .wrapper{
      background: $border;
    }

    .button{
      background: $border;
      border-top: 1px solid rgba($kyc-dark-blue, 0.1);

      span, i{
        color: rgba($kyc-dark-blue, 0.3);
      }
    }
  }

  &.done{

    h2, h3, span, i{
      color: white;
    }

    .wrapper{
      background: rgba(white, 0.1);
      -webkit-backdrop-filter: blur(145px);
      backdrop-filter: blur(145px);
    }

    .button{
      border-top: 1px solid rgba(white, 0.2);
      background: rgba(white, 0.1);
      -webkit-backdrop-filter: blur(145px);
      backdrop-filter: blur(145px);

      i{
        background: $kyc-green;
        border-radius: 999rem;
        padding: 0.3rem;
        color: $kyc-dark-blue;

      }
    }

    .options-list{

      li{
        background: rgba(white, 0.1);
        border: 2px solid rgba(white, 0);

        &>div{
          background: rgba(white, 0.1);

          span{
            background: rgba(white, 0.1);

          }
        }
      }

      li.selected{
        background: rgba(white, 0.1);
        border: 2px solid white;

        &>div{
          background: rgba(white, 0.1);

          span{
            background: white;

          }
        }
      }
    }

    .kyc-input{
      border-radius: 5px;
    }
  }

  &.blurred{
    border: 1px solid white;

    .wrapper{
      background: white;
      position: relative;
      z-index: 2;

      &:after{
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(white, 0.1);
        z-index: 3;

        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        visibility: visible;
        @extend .tr2;
      }
    }

    .button{
      background: white;

      span, i{
        color: $kyc-normal-blue !important;
      }

      &:hover{
        background: $border !important;
        border-top: 1px solid $border !important;
        outline: 1px solid $border !important;

        span, i{
          color: rgba($kyc-dark-blue, 0.3) !important;
        }
      }
    }

    &:hover{

      .wrapper{

        &:after{
          -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
          visibility: hidden;

          @extend .tr2;
        }
      }
    }
  }

  &.pass-card{

    .wrapper{
      background: $kyc-green;

      .header{
        margin-bottom: 2rem;

        .logo{
          position: absolute;

          svg{

          }
        }
      }
    }


    .pass-card-footer{
      background: $kyc-green;
      display: flex;
      align-items: center;

      .token{
        flex: none;
        width: 64px;
        height: 64px;
        background: $kyc-dark-blue;
      }

      .token-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 1rem;

        &>div{
          display: flex;
          flex-flow: column;
        }

        i{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 64px;
        }
      }
    }
  }

  &.dark{
    background: $kyc-dark-blue;

    h2, h3, span, i{
      color: white;
    }

    .wrapper{

    }

    .button{
      background: $kyc-dark-blue;

      span, i{
        color: white;
      }
    }
  }

  &.blue{
    background: $kyc-normal-blue;

    h2, h3, span, i{
      color: white;
    }

    .wrapper{}

    .button{
      background: $kyc-normal-blue;

      span, i{
        color: white;
      }
    }
  }

  &.green{
    background: $kyc-green;

    h2, h3, span, i{
      color: $kyc-dark-blue;
    }

    .wrapper{}

    .button{
      background: $kyc-green;

      span, i{
        color: white;
      }
    }
  }
}
