

body.verification-page{

  #hero{

    .hero-content-wrapper{
      row-gap: 1rem;
      padding-top: 10vh;

      .steps-paginator{
        padding: 0;
        padding-bottom: 10vh;
      }

      @media #{$smobile} {
        padding-bottom: 10vh;

        h1, h3{
          grid-column: 1/3;
        }

        .steps-paginator{
          display: none;
        }
      }

      @media #{$mobile} {

        h1, h3, .steps-paginator{
          grid-column: 1/8;
        }
      }

      @media #{$tablet} {

        h1, h3, .steps-paginator{
          grid-column: 1/12;
        }
      }

      @media #{$desktop}, #{$widescreen}, #{$fullhd} {

        h1 {
          grid-column: 1 / 24;
        }

        h3 {
          grid-column: 1 / 24;
        }

        .steps-paginator{
          grid-column: 1/8;

        }
      }
    }
  }

  #dark-background{
    background-image: url("../img/kyc-dark-pearl-background.jpg");
    position: relative;
    background-size: cover;
  }

  #service-slider{
    display: flex;
    width: 100%;

    @media #{$smobile}, #{$mobile} {
      padding: 0 1rem;
      flex-flow: column;
    }

    @media #{$tablet}, #{$fullhd}, #{$widescreen}, #{$desktop} {
      padding-left: $grid-col-width;
    }
  }

  .step{
    @media #{$fullhd}     {width: 20.6vw;}
    @media #{$widescreen} {width: 33.2vw;}
    @media #{$desktop}    {width: 37.5vw;}
    @media #{$tablet}     {width: 37.5vw;}

    @media #{$smobile}, #{$mobile} {

      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .step#email{

    input{
      width: 100%;
      margin-bottom: 1rem;
    }

    .body{

      &>h4{
        padding-bottom: 1rem;
      }
    }
  }
}



.service-slider-wrapper{
  width: 100%;
  overflow: hidden;
  top: -4rem;
  z-index: 10000;
  position: relative;


  #service-slider{
    margin-top: 0;
    @include translateX(0px);
  }

}



