@font-face {
    font-family: "helvetica-75";
    src: url("../fonts/HelveticaNeue75.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue75.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeue75.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue75.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue75.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeue75.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-55";
    src: url("../fonts/HelveticaNeue55.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue55.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeue55.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue55.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue55.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeue55.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-45";
    src: url("../fonts/HelveticaNeue45.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue45.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    /*//url("../fonts/HelveticaNeue45.otf") format("opentype"), !* Open Type Font *!*/
    url("../fonts/HelveticaNeue45.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue45.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue45.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeue45.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
