
$fullhd-column-count: 24;
$widescreen-column-count: 12;
$desktop-column-count: 12;
$table-column-count: 8;
$mobile-column-count: 4;
$small-mobile-column-count: 2;

$grid-columns: (
        4000px: $fullhd-column-count,
        1217px: 12,
        1025px: 8,
        721px: 4,
        327px: 2,
);

@each $width, $column-count in $grid-columns {
  @media screen and (max-width: $width) {

    .grid {
      grid: 1fr/repeat($column-count ,1fr);
      position: relative;
      z-index: 0;
    }
  }
}

.container-wrapper{
  position: relative;

  /*
  @media #{$smobile}{
    border-left: 1px solid rgba($kyc-dark-blue, 0.05);
    border-right: 1px solid rgba($kyc-dark-blue, 0.05);
  }

  @media #{$mobile} {
    border-left: 1px solid rgba($kyc-dark-blue, 0.05);
    border-right: 1px solid rgba($kyc-dark-blue, 0.05);
  }


  @media #{$tablet} {
    border-left: 1px solid rgba($kyc-dark-blue, 0.05);
    border-right: 1px solid rgba($kyc-dark-blue, 0.05);
  }

   */

  .grid-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 0;

    .grid{
      display: grid;
      position: relative;
      height: 100%;
      width: 100%;

      @media #{$smobile}, #{$mobile}, #{$tablet}{
        padding: 0 1rem;
      }

      span{
        width: 1px;
        background: rgba($kyc-dark-blue, 0.05);
      }

      span:first-child{
        background: transparent;
      }
    }
  }

  .container{
    position: relative;
    display: grid;
  }
}

/* N is the count of the repaeting, S is the value */
@function column-looper($n, $s)
{
  $column: '';
  @for $i from 1 through $n {
    $column: $column + $s + ' ';
  }
  @return str_slice(unquote($column), 0, str_length($column)-1) ;
}

.container{
  z-index: 1;
  justify-content: center;
  margin: 0 auto;
  //background: red;
  /* display: grid; defined elsevhere, container, without container wrapper is a flex */

  &.no-grid{
    display: flex;
  }

  @media #{$smobile}{
    max-width: calc(100% - 2rem);
    grid-template-columns: column-looper($small-mobile-column-count, $small-mobile-column-width);
  }

  @media #{$mobile} {
    max-width: calc(100% - 2rem);
    grid-template-columns: column-looper($mobile-column-count, $mobile-column-width);
  }

  @media #{$tablet} {
    max-width: calc(100% - 2rem);
    grid-template-columns: column-looper($table-column-count, $table-column-width);
  }

  @media #{$desktop}, #{$widescreen}, #{$fullhd} {

    &.narrow{
      max-width: calc(100% - (#{$grid-col-width*6}));
      grid-template-columns: column-looper(18, $narrow-col-width);
      /* Heres should be = 18 cols --> 24 - 6 gutter) */
    }

    &.normal{
      max-width: calc(100% - (#{$grid-col-width*4}));
      grid-template-columns: column-looper(20, $normal-col-width);
      /* Heres should be = 20 cols --> 24 - 4 gutter) */
    }

    &.wide{
      max-width: calc(100% - (#{$grid-col-width*2}));
      grid-template-columns: column-looper(22, $full-hd-col-width);
      /* Heres should be = 22 cols --> 24 - 2 gutter) */
    }

    &.full{
      max-width: 100%;
      grid-template-columns: column-looper(24, $full-hd-col-width);
      /* Heres should be = 24 */
    }
  }
}

.one-of-three{
  grid-column: 1/8;
}