

h1, h2, h3, h4, h5, p, ul, ul li, ol li, b, i{
  font-family: avantgardeBook;
  font-weight: 400;
  color: $kyc-dark-blue;
}

$display-font: AvantgardeBook;

::selection{
  background: $kyc-normal-blue;
  color: white;
}

.interactive{
  cursor: pointer;
  @extend .tr2;
}

.xxl-text, h1{
  font-family: $display-font;
  //letter-spacing: -2px;
  //line-height: 110%;
  font-weight: 100;

  @media #{$sm}, #{$md}{
    font-size: 26px;
  }

  @media #{$lg}, #{$xl}, #{$xxl}{
    font-size: 3vw;
  }
}

.xl-text, h2{
  font-family: $display-font;
  font-weight: 100;

  @media #{$sm}, #{$md}{
    font-size: 22px;
  }

  @media #{$lg}, #{$xl}, #{$xxl}{
    font-size: 2.5vw;
  }
}


.lg-text, h3{
  font-family: $display-font;

  @media #{$sm}, #{$md}{
    font-size: 18px;
  }

  @media #{$lg}, #{$xl}, #{$xxl}{
    font-size: 2.15vw;
  }
}

.text-md, h4{
  font-family: $display-font;
  @media #{$sm}     {font-size: 14px;}
  @media #{$md}     {font-size: 16px;}
  @media #{$lg}     {font-size: 16px;}
  @media #{$xl}     {font-size: 16px;}
  @media #{$xxl}    {font-size: 18px;}
}

.text-sm, p{
  font-family: $display-font;
  @media #{$sm}     {font-size: 12px;}
  @media #{$md}     {font-size: 14px;}
  @media #{$lg}     {font-size: 14px;}
  @media #{$xl}     {font-size: 14px;}
  @media #{$xxl}    {font-size: 16px;}
}

p{
  //line-height: 130%;
}

.text-xs{
  font-family: $display-font;
  @media #{$sm}     {font-size: 10px;}
  @media #{$md}     {font-size: 10px;}
  @media #{$lg}     {font-size: 12px;}
  @media #{$xl}     {font-size: 12px;}
  @media #{$xxl}    {font-size: 12px;}
}

ul{
  @media #{$sm}     {font-size: 12px;}
  @media #{$md}     {font-size: 14px;}
  @media #{$lg}     {font-size: 14px;}
  @media #{$xl}     {font-size: 14px;}
  @media #{$xxl}    {font-size: 16px;}

  li{
    line-height: initial;
  }
}

b{
  font-family: 'Poppins';
  font-weight: 800;
  @media #{$sm}     {font-size: 12px;}
  @media #{$md}     {font-size: 14px;}
  @media #{$lg}     {font-size: 14px;}
  @media #{$xl}     {font-size: 14px;}
  @media #{$xxl}    {font-size: 16px;}

}

body{
  display: flex;
  flex-flow: column;
}
